
.env
server/.env


node_modules/


.DS_Store



STRIPE_SECRET_KEY=sk_test
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51R1ockArwiO4Lvljrdl3R6bJ7XogDTHTpqtXKiKkwnY1CCZpU1eVCUOGTv1vDQhmMUs7zvPzSfPVT4zRYbaprPIs002nISm8Jt
